{% extends "menu.html" %}

{% load static %}

{% block content %}


<section>
    <div class="container m-4" style ="display: flex; justify-content:flex-end">
      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-outline-secondary" href="{% url 'inicio' %}"> Regresar <i class="bi bi-arrow-return-left"></i> </a>
        </div>
      </div>
    </div>  
</section>

<h1>Formulario de Registro de Vacas</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- Esto renderizará cada campo del formulario en un párrafo -->
    <input type="submit" value="Guardar">
</form>

{% endblock %}